<settings>
    <!-- required to push artifacts to repositories -->
    <servers>
        <server>
            <id>alfresco-internal</id>
            <username>${MAVEN_USERNAME}</username>
            <password>${MAVEN_PASSWORD}</password>
        </server>
        <server>
            <id>alfresco-internal-snapshots</id>
            <username>${MAVEN_USERNAME}</username>
            <password>${MAVEN_PASSWORD}</password>
        </server>
        <server>
            <id>thirdparty</id>
            <username>${MAVEN_USERNAME}</username>
            <password>${MAVEN_PASSWORD}</password>
        </server>
    </servers>
</settings>